<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.FileUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/wahrnehmung/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>wahrnehmungServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.WahrnehmungsServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wahrnehmungServlet</servlet-name>
		<url-pattern>/wahrnehmung/store</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>childServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.ChildServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>childServlet</servlet-name>
		<url-pattern>/wahrnehmung/child</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sectionServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.SectionServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sectionServlet</servlet-name>
		<url-pattern>/wahrnehmung/section</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>formServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.FormServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formServlet</servlet-name>
		<url-pattern>/wahrnehmung/form</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>questionnaireServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.QuestionnaireServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>questionnaireServlet</servlet-name>
		<url-pattern>/wahrnehmung/questionnaire</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>authServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.AuthorizationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authServlet</servlet-name>
		<url-pattern>/wahrnehmung/auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>docServlet</servlet-name>
		<url-pattern>/wahrnehmung/doc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>docServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.DocServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>docOAuthCallbackServlet</servlet-name>
		<url-pattern>/oauth2docscallback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>docOAuthCallbackServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.DocsOauthCallbackService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>interactionsServlet</servlet-name>
		<url-pattern>/wahrnehmung/interactions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>interactionsServlet</servlet-name>
		<servlet-class>at.brandl.lws.notice.server.service.InteractionServiceImpl</servlet-class>
	</servlet>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>/*</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>Wahrnehmung.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>